* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
/* Header (logo y menú) */
.container__nav {
    margin: 0 auto;
    width: 100%;
    background-color: #000;
}
.nav {
    --state-close: scale(0);
    --state-bars: scale(1);
    --state-menu: translate(-100%);

    padding: 0 15px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}
.nav:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-bars: scale(0);
}
.nav__logo {
    width: 160px;
    z-index: 1;
}
.nav__menu, .nav__close {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}
.nav__menu {
    transform: var(--state-bars);
}
.nav__close {
    transform: var(--state-close);
}
.nav__icon {
    width: 40px;
}
.nav__ul {
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding-left: 5%;
    transform: var(--state-menu);
    transition: .4s transform;
}
.nav__li {
    list-style: none;
}
.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 2px 5px;
}
@media (min-width:768px) {
    .hero {
        height: 150px;
    }
    .nav {
        --state-bars: scale(0);
        --state-menu: translate(0);
        padding: 0 15px;
    }
    .nav:target {
        --state-close: scale(0);
    }
    .nav__ul {
        padding: 0;
        background-color:unset;
        position: unset;
        gap: 1.15em;
        grid-auto-flow: column;
        transform: unset;
        grid-column: -2/-1;
        grid-row: 1/2;
    }
    .nav__link {
        font-size: 1.18rem;
        letter-spacing: none;
    }
    
}
@media (min-width:1024px) {
    .nav {
        padding: 0 40px;
    }
    .nav__link {
        font-size: 1.5rem;
        letter-spacing: none;
    }
    .nav__link:hover {
        border: #fff solid 2px;
        color: #fff;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .first__title {
        font-size: 6rem;
    }
    .first__txt {
        font-size: 3rem;
    }
}
/* footer */
.footer__container {
    margin: 0 auto;
    width: 100%;
    background-color: #000;
    color: #fff;
}
.foot {
    height: 200px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.footer__title {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 5px;
}
.footert__txt {
    margin-top: 12px;
    text-align: center;
}
.footer__icon {
    width: 40px;
}
.footer__follow {
    justify-self: center;
    padding-top: 8px;
}
.footer__contact {
    grid-column: -3/-1;
    grid-row: 1/2;
}
.footer__ubication {
    grid-column: -4/-1;
    grid-row: 2/3;
}
@media (min-width:768px) {
    .foot {
        display: flex;
        justify-content: space-around;
    }
}
@media (min-width:550px) {
    .about__title,
    .port__title, 
    .port__link,
    .service__title {
        font-size: 2.3rem;
    }
    .about__title-h3,
    .service__title-h3,
    .serv__link {
        font-size: 1.8rem;
    }
    .about__txt,
    .serv__txt {
        font-size: 1.2rem;
    }
    .first__title {
        font-size: 3rem;
    }
    .first__txt {
        font-size: 1.35rem;
    }
}
/* main contenedor Index*/
.main {
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(3, max-content);
    grid-template-areas: 
    "about"
    "gallery"
    "service";
}
.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}
/* about index */
.about__container {
    grid-area: about;
}
.about__title {
    text-align: center;
    font-size: 1.9rem;
    color: #252422
}
.about__img {
    width: 100%;
}
.about__title-h3 {
    font-size: 1.3rem;
    text-align: center;
    color: #252422;
}
.about__txt {
    line-height: 1.5;
    margin: 1em 0 2em;
    color: #777777;
    text-align: justify;
}
@media (min-width:768px) {
    .about__title {
        font-size: 2.8rem;
        letter-spacing: 4px;
    }
    .about__title-h3 {
        font-size: 2.5rem;
        font-weight: 400;
        
    }
    .about__txt {
        font-size: 1.1rem;
    }
}
@media (min-width:1024px) {
    .about__container {
        width: 100%;
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 10% 90%;
    }
    .about__title {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .about__img {
        height: 100%;
        grid-column: 1/2;
    }
    .about__txts {
        grid-column: 2/3;
        align-self: center;
    }
    .about__title-h3 {
        text-align: start;
    }
    .about__txt {
        line-height: none;
        margin: 1em 0;
    }
}
/* portafolio */
.portfolio {
    background-color: #777777;
}
.port__container {
    grid-area: gallery;
}
.port__title, .port__link {
    text-align: center;
    text-decoration: none;
    font-size: 1.9rem;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.port__gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    cursor: pointer;
}
.port__img img{
    width: 100%;
}
@media (min-width:768px) {
    .port__title, .port__link {
        font-size: 2.9rem;
        letter-spacing: 4px;
        color: #252422;
    }
}
@media (min-width:1024px) {
    .port__gallery {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .port__img {
        width: 30%;
        margin-bottom: 10px;
    }
}
/* servicios */
.service {
    grid-area: service;
}
.service__title {
    text-align: center;
    font-size: 1.9rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.service__title-h3, .serv__link {
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.serv__txt {
    line-height: 1.5;
    margin: 1em 0 2em;
    color: #777777;
    text-align: center;
}
.serv__img {
    width: 100%;
}
@media (min-width:768px) {
    
    .service__container {
        justify-content: center;
        align-content: center;
    }
    .service__title {
        font-size: 2.9rem;
        letter-spacing: 4px;
    }
    .service__title-h3, .serv__link {
        font-size: 2.5rem;
        font-weight: 400;
    }
    .serv__txt {
        font-size: 1.5rem;
    }
}
@media (min-width:1024px) {
    .service__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10% 90%;
        gap: 10px;
    }
    .service__title {
        grid-column: 1/4;
    }
}
/* pagina nosotros */
.about__nosotros {
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
}
.about__mision {
    grid-row: 1/2;
}
.about__team {
    grid-row: 2/3;
}
.img__about-pag, .vid__about-pag {
    width: 100%;
}
.about__title-pag {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
    color: #252422;
}
.about__text-pag {
    text-align: justify;
    color: #5e5e5e;
}
.about__history {
    grid-row: 3/4;
}
.about__video {
    grid-row: 4/5;
}
@media (min-width:768px) {
    .about__nosotros {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, max-content);
    }
    .about__team {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .about__history {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .about__video {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }
}
@media (min-width:1024px) {
    .about__team {
        width: 70%;
    }
    .about__mision,
    .about__history {
        justify-self: center;
        align-self: center;
    }
}