@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #252422;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* main contenedor Index*/
.main {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(3, max-content);
  grid-template-areas: "about" "gallery" "service";
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
}

/* Header (logo y menú) */
.container__nav {
  margin: 0 auto;
  width: 100%;
  background-color: #000;
}

.nav {
  --state-close: scale(0);
  --state-bars: scale(1);
  --state-menu: translate(-100%);
  padding: 0 15px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
}

.nav:target {
  --state-menu: translate(0);
  --state-close: scale(1);
  --state-bars: scale(0);
}

.nav__logo {
  width: 160px;
  z-index: 1;
}

.nav__menu, .nav__close {
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: 0.4s transform;
}

.nav__menu {
  transform: var(--state-bars);
}

.nav__close {
  transform: var(--state-close);
}

.nav__icon {
  width: 40px;
}

.nav__ul {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  display: grid;
  align-content: center;
  gap: 2.5rem;
  padding-left: 5%;
  transform: var(--state-menu);
  transition: 0.4s transform;
  text-align: center;
}

.nav__li {
  list-style: none;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding: 2px 5px;
}

.nav__link:hover {
  border: #fff solid 2px;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
}

@media (min-width: 768px) {
  .hero {
    height: 150px;
  }
  .nav {
    --state-bars: scale(0);
    --state-menu: translate(0);
    padding: 0 15px;
  }
  .nav:target {
    --state-close: scale(0);
  }
  .nav__ul {
    padding: 0;
    background-color: unset;
    position: unset;
    gap: 1.15em;
    grid-auto-flow: column;
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
  }
  .nav__link {
    font-size: 1.18rem;
    letter-spacing: none;
  }
}
@media (min-width: 1024px) {
  /* nav */
  .nav {
    padding: 0 40px;
  }
  .nav__link {
    font-size: 1.5rem;
    letter-spacing: none;
  }
  .first__title {
    font-size: 6rem;
  }
  .first__txt {
    font-size: 3rem;
  }
}
/* footer */
.footer__container {
  margin: 0 auto;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.footer {
  height: 200px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer__title {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 5px;
}

.footer__txt {
  margin-top: 12px;
  text-align: center;
}

.footer__icon {
  width: 40px;
}

.footer__follow {
  justify-self: center;
  padding-top: 8px;
}

.footer__contact {
  grid-column: -3/-1;
  grid-row: 1/2;
}

.footer__ubication {
  grid-column: -4/-1;
  grid-row: 2/3;
}

@media (min-width: 768px) {
  /* footer */
  .footer {
    display: flex;
    justify-content: space-around;
  }
}
.button-basic, .btn, .prod__btn {
  background-color: #252422;
  border-radius: 50px;
  color: #f2f2f2;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.hover-button, .btn:hover, .prod__btn:hover {
  color: #000;
  background-color: #fff;
  border: #252422 solid 2px;
  box-shadow: 0 0 10px 0 rgb(38, 70, 83);
}

.prod__btn {
  padding: 5px 15px;
  font-size: 1rem;
  align-self: center;
  transition: 0.5s ease;
}
.btn {
  padding: 18px 55px;
  font-size: 1.2rem;
  transition: 1s;
}
/* about index */
.about__container {
  grid-area: about;
}
.about__container .about__title {
  text-align: center;
  font-size: 2.2rem;
  color: #252422;
  text-transform: uppercase;
}
.about__container .about__img {
  width: 100%;
}
.about__container .about__txts .about__title-h3 {
  font-size: 1.8rem;
  text-align: center;
  color: #252422;
}
.about__container .about__txts .about__txt {
  margin: 1em 0 2em;
  color: #5e5e5e;
  text-align: justify;
}

/* portafolio */
.portfolio {
  background-color: #777777;
}

.port__container {
  grid-area: gallery;
}
.port__container .port__title {
  text-align: center;
  font-size: 2.2rem;
  color: #252422;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.port__gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  cursor: pointer;
}
.port__gallery .port__img img {
  width: 100%;
  transition: all 2s;
  position: block;
}
.port__gallery .port__img img:hover {
  transform: scale(1.2);
}

/* servicios */
.service {
  grid-area: service;
}

.service__container .service__title {
  text-align: center;
  font-size: 1.95rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.service__container .service__title-h3 {
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  color: #252422;
}
.service__container .serv__txt {
  margin: 1em 0 2em;
  color: #777777;
  text-align: center;
}
.service__container .serv__img {
  width: 100%;
}

@media (min-width: 768px) {
  /* about index */
  .about__container .about__title {
    font-size: 3rem;
  }
  .about__container .about__txts {
    margin-left: 40px;
    margin-right: 40px;
  }
  .about__container .about__txts .about__title-h3 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .about__container .about__txts .about__txt {
    font-size: 1.3rem;
  }
  /* portafolio */
  .port__container .port__title {
    font-size: 3rem;
  }
  /* servicios */
  .service__container {
    justify-content: center;
    align-content: center;
  }
  .service__container .service__title {
    font-size: 2.9rem;
  }
  .service__container .service__phone,
.service__container .service__laptop,
.service__container .service__sales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .service__container .service__phone .serv__img,
.service__container .service__laptop .serv__img,
.service__container .service__sales .serv__img {
    width: 65%;
  }
  .service__container .service__title-h3 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .service__container .serv__txt {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  /* about index */
  .about__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%;
  }
  .about__container .about__title {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 70px;
  }
  .about__container .about__img {
    height: 100%;
    grid-column: 1/2;
  }
  .about__container .about__txts {
    grid-column: 2/3;
    margin-left: 0;
    align-self: center;
  }
  .about__container .about__txts .about__title-h3 {
    font-size: 1.83rem;
  }
  .about__container .about__txts .about__txt {
    line-height: none;
    margin: 1em 0;
    font-size: 1.1rem;
  }
  /* portafolio */
  .port__gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .port__gallery .port__img {
    width: 30%;
    margin-bottom: 10px;
  }
  /* servicios */
  .service__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 90%;
    gap: 10px;
  }
  .service__container .service__title {
    grid-column: 1/4;
  }
  .service__container .service__phone,
.service__container .service__laptop,
.service__container .service__sales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .service__container .service__phone .serv__img,
.service__container .service__laptop .serv__img,
.service__container .service__sales .serv__img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .about__container .about__txts .about__title-h3 {
    font-size: 2.6rem;
  }
  .about__container .about__txts .about__txt {
    font-size: 1.5rem;
  }
}
/* pagina nosotros */
.about__nosotros {
  display: grid;
  max-width: 1400px;
  margin: 0 auto 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
}
.about__nosotros .about__mision {
  grid-row: 1/2;
}
.about__nosotros .about__team {
  grid-row: 2/3;
}
.about__nosotros .about__history {
  grid-row: 3/4;
}
.about__nosotros .about__video {
  grid-row: 4/5;
}
.about__nosotros .img__about-pag, .about__nosotros .vid__about-pag {
  width: 100%;
}
.about__nosotros .img__about-pag {
  border-radius: 20px;
}
.about__nosotros .about__title-pag {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 15px;
  color: #252422;
}
.about__nosotros .about__text-pag {
  color: #5e5e5e;
  text-align: justify;
}

@media (min-width: 768px) {
  /* pagina nosotros */
  .about__nosotros {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, max-content);
  }
  .about__nosotros .about__mision {
    justify-self: center;
    align-self: center;
  }
  .about__nosotros .about__team {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .about__nosotros .about__history {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
  }
  .about__nosotros .about__video {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
  }
}
@media (min-width: 1024px) {
  /* pagina nosotros */
  .about__nosotros .about__team {
    width: 80%;
  }
  .about__nosotros .about__mision {
    margin-left: 30px;
  }
  .about__nosotros .about__history {
    padding-right: 50px;
  }
  .about__nosotros .about__title-pag {
    font-size: 2.7rem;
  }
  .about__nosotros .about__text-pag {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  /* pagina nosotros */
  .about__nosotros .about__title-pag {
    font-size: 2.7rem;
  }
  .about__nosotros .about__text-pag {
    font-size: 1.8rem;
  }
}
/* pagina portafolio */
.gallery__title {
  font-size: 1.5rem;
  text-align: center;
  padding: 15px 0 10px;
  color: #252422;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 5px;
  overflow: hidden;
}
.gallery .gallery__cont {
  position: block;
}
.gallery .gallery__cont .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.gallery .gallery__cont:nth-child(2) {
  grid-row-start: span 2;
}
.gallery .gallery__cont:nth-child(4) {
  grid-column-start: span 2;
}
.gallery .gallery__cont:nth-child(7) {
  grid-column-start: span 2;
}
.gallery .gallery__cont:nth-child(12) {
  grid-column-end: span 2;
}
.gallery .gallery__cont:nth-child(9) {
  grid-row-start: span 2;
}
.gallery .gallery__cont:nth-child(10) {
  grid-row-start: span 2;
}

@media (min-width: 768px) {
  /* pagina portafolio */
  .gallery__title {
    font-size: 2.5rem;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;
  }
  .gallery .gallery__cont:nth-child(12) {
    grid-column-end: span 3;
  }
  .gallery .gallery__cont:nth-child(1) {
    grid-column-start: span 2;
  }
  .gallery .gallery__cont:nth-child(3) {
    grid-column-start: span 2;
  }
}
@media (min-width: 1024px) {
  /* pagina portafolio */
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    width: 95%;
    margin: auto;
  }
  .gallery .gallery__cont:nth-child(11) {
    grid-column-start: span 2;
  }
  .gallery .gallery__cont:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
}
/* pagina productos */
.product__title {
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
  color: #252422;
  margin-bottom: 10px;
}

.products__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, max-content);
  gap: 15px;
}
.products__container .products__ind {
  padding: 10px;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.products__container .products__ind .prod__img {
  width: 90%;
  border-radius: 10px;
}
.products__container .products__ind .prod__title {
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: center;
  color: #252422;
  font-size: 0.8rem;
}
.products__container .products__ind .prod__txt {
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  /* pagina productos */
  .product__title {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  .products__container {
    gap: 30px;
  }
  .products__container .products__ind .prod__img {
    margin-top: 8px;
  }
  .products__container .products__ind .prod__title,
.products__container .products__ind .prod__txt {
    font-size: 1.5rem;
  }
  .products__container .products__ind .prod__btn {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  /* pagina productos */
  .products__container {
    padding: 10px 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, max-content);
  }
}
/* pagina contacto */
.contact {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 15px;
}
.contact .contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  border-radius: 20px;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0);
}
.contact .contact__container .contact__number,
.contact .contact__container .contact__ubication,
.contact .contact__container .contact__time {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #252422;
}
.contact .contact__container .contact__icon {
  width: 35px;
}
.contact .contact__form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 25px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0);
}
.contact .contact__form .contact__title-form {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.contact .contact__form .form, .contact .contact__form .contact__line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.contact .contact__form .contact__line {
  margin-bottom: 45px;
}
.contact .contact__form .contact__line .contact__label {
  font-size: 1.2rem;
  font-weight: 600;
}
.contact .contact__form .contact__line .form__input {
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: #252422 solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
.contact .contact__form .contact__line .form__input--message {
  height: 100px;
  width: 100%;
  resize: none;
}

@media (min-width: 768px) {
  /* pagina contacto */
  .contact {
    grid-template-columns: repeat(2, max-content);
  }
  .contact .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .contact .contact__container .contact__icon {
    width: 45px;
  }
}
@media (min-width: 1024px) {
  /* pagina contacto */
  .contact {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 70px;
    gap: 30px;
  }
  .contact .contact__container .contact__title {
    font-size: 2rem;
    font-weight: 400;
  }
  .contact .contact__container .contact__txt {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .contact .contact__container .contact__icon {
    width: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
