@use '../abstracts/variables';
//base de los botones// 
.button-basic {
    background-color: $color-secundario;
    border-radius: 50px;
    color: $color-alternativo;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.hover-button {
    color: $color-primario;
    background-color: #fff;
    border: $color-secundario solid 2px;
    box-shadow: 0 0 10px 0 rgba(38, 70, 83, 1.5);
}
//boton productos//
.prod__btn {
    @extend .button-basic;
    padding: 5px 15px;
    font-size: 1rem;
    align-self: center;
    transition: .5s ease;
    &:hover {
        @extend .hover-button;
    }
}
//boton formulario//
.btn {
    @extend .button-basic;
    padding: 18px 55px;
    font-size: 1.2rem;
    transition: 1s;
    &:hover {
        @extend .hover-button;
    }
}
