@use '../abstracts/variables';
/* pagina nosotros */
.about__nosotros {
    display: grid;
    max-width: 1400px;
    margin: 0 auto 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
    .about__mision {
        grid-row: 1/2;
    }
    .about__team {
        grid-row: 2/3;
    }
    .about__history {
        grid-row: 3/4;
    }
    .about__video {
        grid-row: 4/5;
    }
    .img__about-pag, .vid__about-pag {
        width: 100%;
    }
    .img__about-pag {
        border-radius: 20px;
    }
    .about__title-pag {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 15px;
        color:$color-secundario;
    }
    .about__text-pag {
        @include important-text;
    }
}

@media (min-width:768px) {
    /* pagina nosotros */
    .about__nosotros {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, max-content);
        .about__mision {
            justify-self: center;
            align-self: center;
        }
        .about__team {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .about__history {
            grid-column: 2/3;
            grid-row: 2/3;
            justify-self: center;
            align-self: center;
        }
        .about__video {
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: center;
            align-self: center;
        }
    }
    
}
@media (min-width:1024px) {
    /* pagina nosotros */
    .about__nosotros {
        .about__team {
            width: 80%;
        }
        .about__mision {
            margin-left: 30px;
        }
        .about__history {
            padding-right: 50px;
        }
        .about__title-pag {
            font-size: 2.7rem;
        }
        .about__text-pag {
            font-size: 1.2rem;
        }
    }
    
}
@media (min-width:1200px) {
    /* pagina nosotros */
    .about__nosotros {
        
        .about__title-pag {
            font-size: 2.7rem;
        }
        .about__text-pag {
            font-size: 1.8rem;
        }
    }
}