@use '../abstracts/variables';
/* about index */
.about__container {
    grid-area: about;

    .about__title {
        text-align: center;
        font-size: $titulo;
        color: $color-secundario;
        text-transform: uppercase;       
    }
    .about__img {
        width: 100%;
    }
    .about__txts {

        .about__title-h3 {
            font-size: $subtitulo;
            text-align: center;
            color: $color-secundario;
        }
        .about__txt {
            margin: 1em 0 2em;
            color: $color-terciario;
            text-align: justify;
        }
    } 
}
/* portafolio */
.portfolio {
    background-color: $color-terciario;
}
.port__container {
    grid-area: gallery;

    .port__title {
        text-align: center;
        font-size: $titulo;
        color: $color-secundario;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
}
.port__gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    cursor: pointer;

    .port__img img{
        width: 100%;
        transition: all 2s;
        position: block;
    }
    .port__img img:hover {
        transform: scale(1.20);
    }
}

/* servicios */
.service {
    grid-area: service;
}
.service__container {
    .service__title {
        text-align: center;
        font-size: $titulo-alterno;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .service__title-h3{
        font-size: $subtitulo;
        text-align: center;
        text-decoration: none;
        color: $color-secundario;
    }
    .serv__txt {
        margin: 1em 0 2em;
        color: $color-terciario;
        text-align: center;
    }
    .serv__img {
        width: 100%;
    }
}
@media (min-width:768px) {
    /* about index */
    .about__container {
        .about__title {
            font-size: 3rem;
        }

        .about__txts {
            margin-left: 40px;
            margin-right: 40px;
            .about__title-h3 {
                font-size: 2.5rem;
                font-weight: 400;
            }
            .about__txt {
                font-size: 1.3rem;
            }
        }
        
    }
    
    /* portafolio */
    .port__container {
        .port__title{
            font-size: 3rem;
        }
    }
    
    /* servicios */
    .service__container {
        justify-content: center;
        align-content: center;
        .service__title {
            font-size: 2.9rem;
        }
        .service__phone,
        .service__laptop,
        .service__sales {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .serv__img {
                width: 65%;
            } 
        }
        .service__title-h3{
            font-size: 2.5rem;
            font-weight: 400;
        }
        .serv__txt {
            font-size: 1.5rem;
        }
        
    }
    
}
@media (min-width:1024px) {
    /* about index */
    .about__container {
        width: 100%;
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 10% 90%;
        .about__title {
            grid-column: 1/3;
            grid-row: 1/2;
            margin-bottom: 70px;
        }
        .about__img {
            height: 100%;
            grid-column: 1/2;
        }
        .about__txts {
            grid-column: 2/3;
            margin-left: 0;
            align-self: center;
            .about__title-h3 {
                font-size: 1.83rem;
            }
            .about__txt {
                line-height: none;
                margin: 1em 0;
                font-size: 1.1rem;
            }
        }  
    }
    
    /* portafolio */
    .port__gallery {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .port__img {
            width: 30%;
            margin-bottom: 10px;
        }
    }
    
    /* servicios */
    .service__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10% 90%;
        gap: 10px;
        .service__title {
            grid-column: 1/4;
        }
        .service__phone,
        .service__laptop,
        .service__sales {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            .serv__img {
                width: 100%;
            } 
        }
    } 
}
@media (min-width:1200px) {
    .about__container {
        .about__txts {

            .about__title-h3 {
                font-size: 2.6rem;
            }
            .about__txt {
                font-size: 1.5rem;
            }
        }
    }
    
}