/* main contenedor Index*/
.main {
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(3, max-content);
    grid-template-areas: 
    "about"
    "gallery"
    "service";
}
.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}