$color-primario: #000;
$color-secundario: #252422;
$color-terciario: #777777;
$color-texto: #5e5e5e;
$color-alternativo: #f2f2f2;
$color-textoBtn: #264653;
//tamaño ttitulos //
$titulo: 2.2rem;
$titulo-alterno: 1.95rem;
$subtitulo: 1.8rem;